@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar hiding utility */
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit-based browsers like Chrome and Safari */
}
.scroll-hidden {
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
